// colors
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-dark-gray: hsl(0, 0%, 55%);
$clr-very-dark-gray: hsl(0, 0%, 41%);
// Typography
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

