.header{
    $width: 85%;
    height: 100vh;
    background-image: url('../../images/mobile/image-hero.jpg');
    background-position: center;
    background-size: cover;
    
    &__top,
    &__hero{
        width: $width;
        margin: auto;
    }

    &__top{
        @include flex-r(space-between,center);
        padding: 2.4rem 0;
    }

    &__hero{
        margin-top: 100px;
        border: 2px solid currentColor;
        color: $clr-white;
        
        h1{
            font-size: 3rem;
            font-weight: $light;
            text-transform: uppercase;
            padding: .69em;
        }
    }

    .burger{
        cursor: pointer;
    }
}